YearIII/Semester06/WtApp/data/s.dtd

<!ELEMENT vtu (student+)>
<!ELEMENT student (name,yoj,branch,email*)> <!ELEMENT name (f,m,l)>
<!ELEMENT yoj (#PCDATA)>
<!ELEMENT branch (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT f (#PCDATA)>
<!ELEMENT m (#PCDATA)>
<!ELEMENT l (#PCDATA)>
<!ATTLIST student usn CDATA #REQUIRED>
<!ATTLIST student college CDATA #IMPLIED>